<html>
<head>
<title>Swift abandoned changes</title>
</head>
<body>
<h1>Abandoned swift changes</h1><hr />
The following changes have been abandoned:
<ul>
{% for change in changes %}
<li><a href="https://review.openstack.org/#/c/{{ change["_number"] }}">{{ change["_number"] }}</a> {{ change["subject"] }}</li>
{% endfor %} 
</ul>
<b>Note:</b> Calculated by {{ days }} since notification sent.
</body>
</html>
